.swiper-pagination {
  position: static;
  margin-top: 20px;
}

.swiper {
  width: 100%;
  padding: 40px 0;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 100%;
}