@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ddd;
}

body * {
  font-family: "Montserrat", sans-serif;
}

.animate__animated.animate__slideInRight {
  --animate-duration: .3s;
}

.swiper-image-container.horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero-home-desktop {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("./src/assets/images/home/01_HeroHome.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-home-phone {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("./src/assets/images/home/02_HeroHome.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-layout {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("./src/assets/images/contact_layout/contact_background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

